@font-face {
    font-family: 'Raleway';
    src: local(downloads\raleway\Raleway);
}

body{
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.container {
    font-size: 13px;
    line-height: 3em;
    height: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.accom {
    color: #0065FC;
    font-weight: 500;
    position: relative;
    right: 160px;
}

.activ {
    color: black;
    position: relative;
    right: 100px;
}

.signup {
    color: #0065FC;
    font-weight: 700;
    position: relative;
    right: 40px;
}

h1 {
    font-size: 17.5px;
}

h2 {
    font-size: 12px;
    font-weight:450;
    line-height: 0.5em;
}

section {
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.icons {
    border: thin solid silver;
}

i {
  color: #0065FC;
}

p {
    font-size: 12px;
}

