@font-face {
    font-family: 'Raleway';
    src: local(downloads\raleway\Raleway);
}

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

.container {
    font-size: 13px;
    line-height: 3em;
    height: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 2%;
}

.accom {
    color: #0065FC;
    font-weight: 500;
    position: relative;
    right: 240px;
}

.activ {
    color: black;
    position: relative;
    right: 160px;
    font-weight: 450px;
}

.signup {
    color: #0065FC;
    font-weight: 705;
    position: relative;
    right: 80px;
}

h1 {
    font-size: 17.5px;
}

h2 {
    font-size: 13px;
    font-weight:450;
    line-height: 0.5em;
}

.fa-map-marker-alt {
    color: black;
    background-color: #F2F3F4;
    font-size: 14px;
    padding: 14px 16px;
    border-radius: 10px 0px 0px 10px;
}
  
.search-group {
    display: flex;
    width: 80%;
    margin: 25px 0px 5px 0px;
}
  
.search-group:before {
    content: "";
    font-size: 1em;
    position: absolute;
    left: 0.5;
    top: 0.5em;
    color: #fff;
}
  
.search-input, .button-search {
    padding: 0.687em 2em;
    margin: 0px 0px 0px 0px;
    color: #F2F3F4;
}
  
.search-input {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    transition: 0.25s 0.25s color 0.25s;
    width: 20%;
    height: 42px;
    padding: 0.5em 1em;
    border: solid 2px #F2F3F4;
    border-right: none;
    background: #fff;
    box-sizing: border-box;
}

.search-input::-moz-placeholder {

    -moz-transition: color 0.25s;
    transition: color 0.25s;
    color: #F2F3F4;
    font-size: 1em;
}

.search-input:-ms-input-placeholder {
    -ms-transition: color 0.25s;
    transition: color 0.25s;
    color: #F2F3F4;
    font-size: 1em;
}

.search-input::placeholder {
    transition: color 0.25s;
    color: #F2F3F4;
    font-size: 0.95em;
}
  
input.search-input:focus {
    transition:  0.25s, border-color 0.25s;
    background: white(0, 0, 0, 0.075);
    border-color: white(0, 0, 0, 0.015);
    outline: none;
}

input.search-input:focus::-moz-placeholder {
    -moz-transition: color 0.25s;
    transition: color 0.25s;
    color: #F2F3F4;
}

input.search-input:focus:-ms-input-placeholder {
    -ms-transition: color 0.25s;
    transition: color 0.25s;
    color: #F2F3F4;
}

input.search-input:focus::placeholder {
    transition: color 0.25s;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}
  
.button-search {
    transition: 0.25s, color 0.25s;
    border: none;
    border-radius: 0 10px 10px 0;
    background: #0065fc;
    height: 42px;
    padding: 0.5em 1.2em;
}
  
.button-search:hover {
    transition: 0.25s, color 0.25s;
    background: #deebff;
    color: #0065fc;
}

.icons {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    letter-spacing: 1%;
    width: 750px;
    font-weight: 800;
    font-size: 14px;
}

button {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    border: 2px solid #D6D6D6;
    background-color: white;
    font-weight: bold;
    box-sizing: border-box;
    border-left-style: none;
    justify-content: center;
    letter-spacing: 1%;
    padding: 0px 20px 0px 0px;
    margin: 20px 0px 20px 0px;
    border-radius: 40px;
    font-size: 14px;
    transition-duration: 0.3s;
}

.icon-background {
    color: #DEEBFF;
    font-size: 214%;
}

.fa-stack{
    position: relative;
    left: -5px;
    bottom: 1px;
}

.fa-info {
    font-size: 10px;
    position: relative;
    top: 3px;
}

i {
  color: #0065FC;
  font-size: 75%;
}

.accom-info {
    position: relative;
    left: 12px;
    bottom: 2px;
    display: flex;
    flex-direction: row wrap;
    width: 320px;
    font-size: 12.5px;
    font-weight: 440;
    margin-top: -10px;
}